body {
  background: url('./images/peonies.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
}

nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

iframe {
  display: none;
  width: 800px;
  height: 600px;
}

.clicked {
  display: inherit;
  position: absolute;
  top: 140px;
  left: 50px;
  z-index: 1;
}

.active {
  background-color: #712742;
  color: #FFF;
}

header h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: #712742;
  font-size: 3em;
  margin: 0 0 20px 0;
}

.about-me {
  width: 45%;
  margin: 2% 3%;
  color: #152113;
  background-color: #ffffff;
  opacity: .7;
  padding: .5% 1%;
}

.about-me p {
  font-family: 'Open Sans', sans-serif;
}

.about-me h3 {
  font-size: 1em;
  margin: 15px 0;
  font-family: 'Open Sans', sans-serif;
}

nav a {
  font-family: 'Amatic SC', cursive;
  font-size: 1.3em;
  color: #712742;
}

div {
  width: 55%;
  height: 650px;
}

@media screen and (max-width: 640px) {
  .about-me {
    width: 70%;
    opacity: .8;
  }

  div {
    width: 30%;
    height: 400px;
  }

  iframe {
    width: 400px;
    height: 600px;
  }
}

@media screen and (max-width: 420px) {
  body {
    padding: 10px;
  }

  .about-me {
    padding: 20px;
    margin-top: 5%;
    width: 100%;
    opacity: .7;
  }

  div {
    width: 0%;
    height: 0px;
  }

  iframe {
    width: 400px;
    height: 600px;
  }

  .clicked {
    top: 200px;
    left: 30px;
  }
}
