body {
  background: url('./images/peonies.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

nav {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

iframe {
  display: none;
  width: 800px;
  height: 600px;
}

.clicked {
  display: inherit;
  position: absolute;
  top: 140px;
  left: 50px;
  z-index: 1;
}

.active {
  background-color: #712742;
  color: #FFF;
}

header h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: #712742;
  font-size: 3em;
  margin: 0;
}

.about-me {
  width: 45%;
  margin: 2% 3%;
  color: #152113;
  background-color: #ffffff;
  opacity: .7;
  padding: .5% 1%;
}

.about-me p {
  font-family: 'Open Sans', sans-serif;
}

.about-me h3 {
  font-size: 1em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 640px) {
  .about-me {
    width: 70%;
    opacity: .8;
  }

  iframe {
    width: 400px;
    height: 600px;
  }
}

@media screen and (max-width: 420px) {
  .about-me {
    margin-top: 25%;
    width: 100%;
    opacity: .7;
  }

  iframe {
    width: 400px;
    height: 600px;
    top: 240px;
    left: 50px;
  }
}
